.bread {
  margin-bottom: 24px;

  &.ant-breadcrumb {
    display: flex;
    align-items: center;

    .ant-breadcrumb-link a {
      display: inline-flex;
      align-items: center;

      .bread-icon {
        margin-right: 4px;
      }
    }
  }
}

@media (max-width: 767px) {
  .bread {
    margin-bottom: 12px;
  }
}
